<Display Value="CurrentValue"></Display>
<Slider @bind-Value="CurrentValue" Max="MaxValue" Min="MinValue" Step="Step" DisplayText="@DisplayText"
    ShowLabel="ShowLabel" OnValueChanged="OnValueChanged"></Slider>

<Button @onclick="Silence">click to silence</Button>