<Nav Alignment="Alignment.Center">
    <NavLink class="nav-link active" href="/">Home</NavLink>
    <NavLink class="nav-link active" href="/systemcontrols">System Controls</NavLink>
    <NavLink class="nav-link active" href="/netdisk">NetDisk</NavLink>
    <NavLink class="nav-link active" href="/media">Media</NavLink>
    <NavLink class="nav-link active" href="/easytoolbox">EasyToolBox</NavLink>
    <NavLink class="nav-link active" href="/about">About</NavLink>
</Nav>
<Divider Text="WebDean By GZ4nna" />